.idea
.project
.classpath
local.properties
*.iml
*.ipr
*.iws
*.patch
*.class
.settings/*
mifos-android-client/bin/*
mifos-android-client-test/bin/*
mifos-android-client/.settings/*
mifos-android-client-test/.settings/*
mifos-android-client/gen/*
mifos-android-client-test/gen/*
out
build.xml
target

