<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.mifos.androidclient"
      android:versionCode="9"
      android:versionName="1.1">

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".main.SplashScreenActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.ClientMainActivity"
                  android:label="@string/app_name" />
        <activity android:name=".main.LoginActivity" />
        <activity android:name=".main.CentersListActivity" />
        <activity android:name=".main.CustomersListActivity" />
        <activity android:name=".main.CustomerDetailsActivity" />
        <activity android:name=".main.AccountDetailsActivity" />
        <activity android:name=".main.AccountTransactionHistoryActivity" />
        <activity android:name=".main.TransactionHistoryItemDetailsActivity" />
        <activity android:name=".main.LoanInstallmentDetailsActivity" />
        <activity android:name=".main.CustomerChargesDetailsActivity" />
        <activity android:name=".main.DepositDueDetailsActivity" />
        <activity android:name=".main.RepaymentScheduleActivity"/>
        <activity android:name=".main.AccountRepaymentScheduleActivity"/>
        <activity android:name=".main.MeetingListActivity"/>
        <activity android:name=".main.DisburseLoanActivity" />
        <activity android:name=".main.ApplyCustomerChargeActivity" />
        <activity android:name=".main.ApplyLoanAccountFullRepayLoanActivity"/>
        <activity android:name=".main.ApplyLoanAccountChargeActivity"/>
        <activity android:name=".main.ApplySavingsAdjustmentActivity" />
        <activity android:name=".main.ApplyLoanAdjustmentActivity" />
        <activity android:name=".main.SavingsTransactionActivity" />

    </application>

</manifest> 
